.categoryBox {
  background-color: #ffffff;
  height: 68;
}

.title {
  font-size: 16px;
  font-weight: 400;
}

.arrow {
  width: 16px;
  height: 16px;
  color: #008080;
}

.categoryBox:not(:last-child) {
  margin-bottom: 0.5rem;
}
